[user]
	name = Jing Liu
	email = jintonic@physino.xyz
[alias]
  br = branch
  co = checkout
  ci = commit
  st = status
  sm = submodule
  sc = sparse-checkout
# a branch called master will be created when run git init
[init]
  defaultBranch = master
[pull]
  rebase = true
[push]
  default = simple
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  grep = auto
[tig]
  line-graphics = utf-8
  main-view-line-number-display = yes
  main-view-date-display = relative-compact
  tab-size = 2
[tig "bind"]
  refs = n !@git branch "%(prompt)"
  status = + !git commit --amend
  status = P !git push origin
  status = x !sh -c "echo %(file) >> .gitignore && vi .gitignore"
[gui]
  tabsize = 4
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[safe]
  directory = /cygdrive/c/Users/jing.liu
